<%= link_to "Chatroom", root_path, class: "item" %>
  <a class="item">
    Messages
  </a>
  <% if logged_in? %>
    <%= link_to "Logout", logout_path, method: :delete, class: "item" %>
  <% else %>
    <%= link_to "Login", login_path, class: "item" %>
  <% end %>
  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">English</a>
            <a class="item">Russian</a>
              <a class="item">Spanish</a>
        </div>
    </div>
    <% if !logged_in? %>
      <div class="item">
        <%= link_to "Log in", login_path, class: "ui primary button" %>
      </div>
    <% end %>
</div>